<%inherit file="base.html"/>
<%!
    import lazylibrarian
%>
<%def name="headerIncludes()">
  <div id="subhead_container">
    <ul id="subhead_menu">
      <li><a href="author_page?authorid=${series['AuthorID']}" id="button"> Return to Author</a></li>
      <li><a href="series?authorid=${series['AuthorID']}" id="button"> Series List</a></li>
      <li><a href="refresh_author?authorid=${series['AuthorID']}" id="button"> Refresh Author</a></li>
    </ul>
  </div>
</%def>
<%def name="body()">
  <BR><BR>
  %if multi == "True":
  <h1>&nbsp;&nbsp;${title}</h1>
  %else:
  <h1>&nbsp;&nbsp;${series['AuthorName']} : ${title}</h1>
  %endif
  <form action="mark_books" method="get">
    <input type="hidden" name="redirect" value="members">
    <input type="hidden" name="seriesid" value="${series['SeriesID']}">
    <label>&nbsp;&nbsp;Mark selected as: </label>
    <select class="mark_books" name="action" id="action">
      %for item in ["Wanted", "Have", "Ignored", "Skipped", "Remove", "Delete"]:
      <option value="${item}"
            %if whichStatus == item:
                selected = "selected"
            %endif
            >${item}</option>
      %endfor
    </select>
    <input type="submit" class="mark_books" id="go" value="Go">
    <br>
    <br>
    <table class="display" id="book_table" style="width:100%;">
      <thead>
        <tr>
          <th id="select"><input type="checkbox" onClick="toggleAll(this)" /></th>
          <th id="bookart">Cover</th>
          <th id="authorname">Title</th>
          %if multi == "True":
          <th id="authorname">Author</th>
          %else:
          <th id="authorname" class="hidden">Author</th>
          %endif
          <th id="seriesNum">Number</th>
          <th id="status">Status</th>
          <th id="select">Select</th>
        </tr>
      </thead>
      <tbody>
        %for result in members:
        <tr class="gradeZ">
          <td id="select"><input type="checkbox" name="${result['BookID']}" /></td>
          <td id="bookart"><a href="${result['BookImg']}" target="_blank" rel="noreferrer"><img src="${result['BookImg']}" width="60" alt="Cover" class="bookcover-sm"></a></td>
          <td id="authorname">${result['BookName']}</td>
          %if multi == "True":
          <td id="authorname">${result['AuthorName']}</td>
          %else:
          <td id="authorname" class="hidden">${result['AuthorName']}</td>
          %endif
          <td id="seriesNum">${result['SeriesNum']}</td>
          <td id="status">${result['Status']}</td>
          <td id="select"><a class="button orange" href="edit_book?bookid=${result['BookID']}" title="Select">Edit</a></p>
        </td>
      </tr>
      %endfor
    </tbody>
  </table>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
</%def>
<%def name="headIncludes()">
  <link rel="stylesheet" href="css/data_table.css">
</%def>
<%def name="javascriptIncludes()">
  <script src="js/libs/jquery.dataTables.min.js"></script>
  <script src="js/libs/natural.js"></script>
  <script>
    $(document).ready(function()
    {
        var oTable = $('#book_table').dataTable(
            {
                "order": [[ 4, 'asc' ]],
                "aoColumns": [
                    {"bSortable": false},
                    null,
                    null,
                    null,
                    { "sType": "natural" },
                    null,
                    null
                    ],
                "oLanguage": {
                    "sLengthMenu":"Show _MENU_ rows per page",
                    "sEmptyTable": "No books found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[4, 'asc']],
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${lazylibrarian.CONFIG['DISPLAYLENGTH']},
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $(nRow).addClass("gradeZ");
                    $('td', nRow).eq(0).addClass("center");
                    $('td', nRow).eq(3).addClass("center");
                    $('td', nRow).eq(4).addClass("center");
                    var w = window.innerWidth;
                    if ( w < 768 )
                    {   // hide status on small devices
                        //$('td', nRow).eq(2).removeClass('hidden');
                    }
                    if ( w < 640 )
                    {   // hide author,status on smaller devices
                        //$('td', nRow).eq(3).removeClass('hidden');
                    }
                    return nRow;
                },
            });
            $('.dataTables_filter input').attr("placeholder", "Results filter");
            //$(window).resize(function() {oTable.fnDraw(false)});
    });
  </script>
</%def>
